/* line 1, /Users/photoninfotech/WorkSpace/Latihan/app/styles/main.scss */
.container {
  padding: 0 !important; }

/* line 4, /Users/photoninfotech/WorkSpace/Latihan/app/styles/main.scss */
.tabslink {
  margin-left: 27%;
  margin-right: 25%;
  width: 50%;
  padding-left: 5%; }

/* line 10, /Users/photoninfotech/WorkSpace/Latihan/app/styles/main.scss */
.footer-text {
  text-align: center; }

/*# sourceMappingURL=main.css.map */