        <div class="small-12 medium-12 large-12 columns footer-text">
          <hr/>
          <div class="row">
              <ul class="inline-list tabslink">
                <li><a ng-href="http://www.twitter.com">Twitter</a></li>
                <li><a ng-href="http://www.facebook.com">Facebook</a></li>
                <li><a ng-href="http://www.instagram.com">Instagram</a></li>
                <li><a ng-href="http://pulse.photoninfotech.com">Photon</a></li>
              </ul>
              <p>© Copyright no one at all. Go to town.</p>
          </div>
        </div>