<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<h3>Search Member :</h3>
		<input type="text" ng-model="search.name">
		<table class="small-12 medium-12 large-12 columns">
			<tbody>
				<tr ng-repeat="item in items | filter:search">
						<td data-reveal-id="myModal" ng-click="doOverlay(item)">{{item.id}} {{item.name}}</td>
				</tr>        
			</tbody>
		</table>
	</div>
	<overlay></overlay>
</div>